.player-controls {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 8px;
  margin: 16px 0;
  height: calc(100vh - 32px);

  .now-playing {
    padding: 48px;
    @media (max-width: 1080px) {
      padding: 32px;
    }
    h4 {
      margin: 0;
      font-size: 48px;
    }

    p {
      margin: 5px 0;
      font-size: 24px;
      opacity: 0.8;
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      .progress-container {
        display: flex;
        align-items: center;
        margin: 16px 0;
        width: 100%;
        .song-progress {
          flex: 1;
          height: 8px;
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.2);
          .progress-bar {
            background-color: white;
          }
        }
      }

      .player-main-controls {
        width: 100%;
        justify-self: center;
        margin: 16px 0;
        .control-buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          justify-content: space-between;
          margin: 15px 0;

          .no-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 32px;
            background-color: rgba(255, 255, 255, 0.1);
            width: 80px;
            height: 80px;
            border-radius: 50%;
            cursor: pointer;
          }

          .control-btn {
            background: none;
            border: none;
            color: white;
            font-size: 48px;
            margin: 0 16px;
            cursor: pointer;

            &.play-pause {
              font-size: 48px;
            }
          }
        }
      }
    }

    &-thumbnail {
      width: 100%;
      height: calc(70vh - 10vh);
      border-radius: 10px;
      object-fit: cover;
      margin: 16px 0;
      @media (max-width: 1080px) {
        height: 300px;
      }
    }

    &-actions {
      border: none;
      background-color: rgba(255, 255, 255, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      .favorite-btn {
        margin-top: 4px 0;
        border: none;
        background-color: transparent;
        font-size: 32px;
        color: white;
        cursor: pointer;
        &.active {
          color: white;
        }
      }
    }
  }
}

.player-controls-empty {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
