.sidebar {
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  padding: 20px;
  transition: transform 0.3s ease;

  @media (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    z-index: 1000;
    transform: translateX(-100%);

    &.show {
      transform: translateX(0);
    }
  }

  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    padding-bottom: 18px;

    .logo {
      width: 40%;
    }

    h2 {
      font-size: 24px;
      margin: 0;
    }

    .close-sidebar {
      background: none;
      border: none;
      color: white;
      font-size: 28px;
      margin: 0 5px;
      cursor: pointer;
    }
  }

  .sidebar-nav {
    .nav-link {
      color: rgba(255, 255, 255, 0.8);
      padding: 10px 0;
      display: flex;
      align-items: center;
      margin: 10px 0;

      i {
        margin-right: 10px;
        font-size: 18px;
      }

      &:hover,
      &.active {
        color: white;
        background: none;
      }

      &.active {
        font-weight: 600;
      }
    }
  }
}
